<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><%= output.title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%- output.styles %>
</head>
<body>

    <%- output.content %>
</body>
</html>