.gjs-one-bg {
  background-color: #1976d2 !important;
}
// .gjs-two-color {
//   color: #455a64 !important;
// }
.gjs-title {
  background-color: #0d47a1 !important;
}

.gjs-block {
  border: 1px solid rgba(240, 240, 240, 0.6) !important;
}

.gjs-two-color {
  color: rgba(255, 255, 255, 0.7) !important;
}

.gjs-category-title,
.gjs-sm-sector .gjs-sm-title,
.gjs-clm-tags .gjs-sm-title,
.gjs-block-category .gjs-title,
.gjs-layer-title {
  background-color: transparent;
}

.loader {
  width: 100%;
  height: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 200px;
    height: auto;
  }
}
